<!-- partials footer-->

<footer class="footer">
    <div class="footer__contact">
        <small class="footer__small">Design by Naiara Saratxaga</small>
        <a href="https://github.com/NaiSaratxaga" target="_blank">
            <i class="fa-brands fa-github footer__contact--github"></i></a>
        <a href="https://www.linkedin.com/in/naiara-saratxaga-17abb030/" target="_blank"><i
                class="fa-brands fa-linkedin-in footer__contact--linkedin"></i></a>
        <a href="https://twitter.com/naiarasaratxaga" target="_blank"><i
                class="fa-brands fa-twitter footer__contact--twitter"></i></a>
    </div>
</footer>