<!-- partials main -->
<main>
    <!--  Search cocktails section -->
    <form>
        <input type="text" name="text" id="id" class="input js_input" placeholder="Search: Margarita" />
        <button type="submit" value="search" name="button" class="button js_buttonSearch">Buscar</button>
        <button type="button" value="reset" name="button" class="button js_buttonReset">Reset</button>
    </form>
    <!--  favourite cocktails section -->
    <div class="container">
        <section class="section__fav">
            <h2 class="subtitle">Cócteles Favoritos</h2>
            <ul class="js_listFav">
                <li></li>
            </ul>

            <!--  List result cocktails section -->

            <h2 class="subtitle">Listado Cócteles</h2>
            <ul class="js_listResults">
            </ul>
        </section>
    </div>
</main>