<!-- partials main -->
<main class="main__container">
    <!--  Search cocktails section -->
    <form class="main--form">
        <input type="text" name="text" id="id" class="input js_searchInput" placeholder="Search: Margarita" />
        <button type="submit" value="search" name="button" class="button js_searchButton">Buscar</button>
        <button type="button" value="reset" name="button" class="button js_resetButton">Reset</button>
    </form>
    <!--  favourite cocktails section -->
    <section class="main__cocktails-container">
        <div class="main__container-fav">
            <section class="section__fav">
                <h2 class="subtitle">Cócteles Favoritos</h2>
                <ul class="js_cocktailsFavList">
                    <li></li>
                </ul>
            </section>
        </div>
        <div class="main__container-list">
            <!--  List result cocktails section -->
            <section class="section__result">
                <h2 class="subtitle">Listado Cócteles</h2>
                <ul class="js_cocktailsSearchResultList">
                </ul>
            </section>

        </div>
    </section>
</main>