.main__cocktails-container {
  display: flex;
  justify-content: space-around;
  padding: 10px 50px;
}

img {
  margin: 10px;
}

.fav-cocktail {
  .drink-name {
    color: #f02372;
  }
  img {
    outline: solid 10px #f02372;
  }
}

.input {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: black;
  font-size: 18px;
  padding: 10px;
  margin: 40px;
  border: 2px solid #eee;
  border-radius: 10px;
}

.button {
  background-color: #f02372;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.img {
  height: 150px;
  margin-bottom: 20px;
}

.no-cocktails {
  color: red;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.subtitle {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 900;
  color: rgb(78, 75, 75);
}
.no-fav {
  color: rgb(255, 0, 106);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.drink-name {
  color: rgb(64, 69, 69);
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.main--remove-fav {
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  color: rgb(228, 65, 97);
}
