* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

:root {
  color: rgb(56, 52, 52);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 50px;
  margin-top: 50px;
}


